VITE_SUPABASE_URL=https://revqyyyiwggzenlcecau.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJldnF5eXlpd2dnemVubGNlY2F1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgzMDIwODAsImV4cCI6MjA3Mzg3ODA4MH0.MC19F9LtIcYLvWdVFMAaGBtDsCJk5FFa3wJit0G4N1A
VITE_CLERK_PUBLISHABLE_KEY=pk_test_cmVuZXdlZC1ib2EtMi5jbGVyay5hY2NvdW50cy5kZXYk